*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #efefef;
    height: 100%;
    color: #333;
}

.content-box {
    margin: 20px auto;
    padding: 20px 15px;
    background-color: #ffffff;
    height: inherit;
    width: 420px;
    max-width: calc(100% - 30px);
}

.content-box h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0 0 15px;
}

.content-box h5 {
    color: #aaaaaa;
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0 0 10px;
}

.content-box form h5 {
    color: #000;
}

.content-box hr {
    border: 0;
    border-bottom:1px solid #ddd;
    margin: 30px 0;
}

.content-box form input[type=text],
.content-box form input[type=email],
.content-box form input[type=tel]  {
    width: 100%;
    border: 1px solid #ccc;
    height: 45px;
    border-radius: 5px;
    padding: 5px 7px;
    margin-bottom: 15px;
}

.input-wrapper {
    margin-bottom: 15px;
}

.errorlist {
    padding: 0;
    margin: 0;
    list-style: none;
    color:#f40000;
}

.confirm-delete-page {
    text-align: center;
}

.confirm-delete-page .button-wrapper .submit {
    float:none;
    margin-left:10px;
}

.content-box form input[type=tel] {
    margin-bottom: 30px;
}

.content-box form input[type=radio] {
    float: right;
    transform: scale(1.3);
    opacity: 0.6;
}

.content-box form input[type=radio],
.content-box form input[type=radio] + label {
    opacity: 0.6;
}

.content-box form input[type=radio]:checked,
.content-box form input[type=radio]:checked + label {
    opacity: 1;
}

.content-box form hr {
    margin: 15px 0;
}

.content-box form label {
    font-weight: 500;
}

.content-box form hr::after,
.content-box form::after {
    content: "";
    display: table;
    clear: both;
}

.content-box .btn {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 15px 20px;
    font-weight: 700;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 100px;
    text-decoration: none !important;
}

.team-list a {
    text-decoration: none !important;
}

.content-box .delete {
    color: #f40000;
}

.content-box .submit {
    color: #ffffff;
    background-color: #4778FF;
    border-color: #4778FF;
    float: right;
}

.top-link {
    text-align: right;
}

.new-link {
    color: #4778FF;
    display: inline-block;
}

.new-link svg {
    width: 25px;
    height: 25px;
}

.team-list {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.team-list li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.team-list li >span {
    width: 60px;
    max-width: 60px;
}

.team-list li >div {
    width: calc(100% -60px);
    max-width: calc(100% -60px);
    padding-left: 15px;
}

.team-list img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.team-list p {
    margin: 0 0 10px;
    color: #aaaaaa;
}

.team-list .name {
    font-weight: 500;
    color: #333;
}

.confirm-delete-page .content-box {
    width:600px;
}